@model IEnumerable<My101Romance.Domain.Entity.Card>
@{
    ViewBag.Title = "my title";
    Layout = "_Layout";
}

    @foreach (var card in Model)
    {
        
        <p>@card.Id</p>
        @if (true)
        {
            
            <p>@card.Description</p>
        }
        <hr/>
    }
}
