<!DOCTYPE html>
<html lang="en">
<head>

    
    @await Html.PartialAsync("Partial/MetatagsPartial")
    @await Html.PartialAsync("Partial/CssPartial")
</head>
<body>
    @await Html.PartialAsync("Partial/HeaderPartial")
    <main>
        @RenderBody()
    </main>
    
    @await Html.PartialAsync("Partial/FooterPartial")

    @await Html.PartialAsync("Partial/ScriptsPartial")
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>