@{
ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<p>You don't have permission to access this page.</p>
<script>
    setTimeout(function () {
        window.location.href = '/';
    }, 5000); // переадресация через 5 секунд (5000 миллисекунд)
</script>