@model IEnumerable<My101Romance.Domain.Entity.Card>

<div class="container">
    <div class="row">
        @foreach (var card in Model)
        {
            <div class="col-md-12 my-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="@card.ImagePath" alt="Front Image" style="width:300px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>@card.Title</h1>
                            <p>@card.Description</p>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>